body {
	$base-font: $book;
	&.locked {
		@include size(100%);
		position: fixed;
		overflow: hidden;
	}
	.btn.small {
		margin-top: 4.5rem;
		min-width: 17.2rem;
		width: 17.2rem;
	}
}
#scrolltop {
	@include size(5rem);
	background:white;
	display: block;
	cursor: pointer;

	position: fixed;
	z-index: 999;
	right: 5rem;
	bottom: 5rem;
	@include levitable(1, 2);
	.icon {
		position: absolute;
		@include size(100%);
		background:url('../images/asset-icon-scrolltop.png') no-repeat center center;
		background-size: 1.2rem 0.75rem;
	}
}
header#landing-header {
	height: 6.5rem;
	background: white;
	position: absolute;
	z-index: 999;
	top: 0; left: 0;right: 0;
	width: 100%;

	h1.logo {
		@include center(horizontal);
		margin-bottom: 0;
		@extend .grey;
		height: 6.5rem;
    	background-position-y:center;
	}

	nav {
		$grey: #959595;
		position: absolute;
		right: 0; top: 0;
		ul {
			padding: 0;margin: 0;
			display: flex;
			list-style: none;
			li {
				width: 13rem;
				border-left: 1px solid #ccc;

				text-align: center;
				height: 6.5rem;
				line-height: 6.5rem;

				a {
					@include size(100%);
					display: block;

					font-size: $book;
					text-decoration: none;
					color: $grey;
					letter-spacing: .1rem;
					line-height: 6.5rem;
					font-size: 1.5rem;
					
					@include transition(background 0.25s $ease-in-out-sine);
					&:hover {
						text-decoration: underline;
						background: darken(white, 2%);
					}
				}
			}
		}
	}
}

#outer-wrap {
	@include size(100%);
	position: relative;
	z-index: 99;
	padding-top: 6.5rem;

	// for fixed footer: 
    margin-bottom: 82.1rem;

	section {
		@extend .landing-page;
		height: calc(100vh - 6.5rem);

		h2.sub {
			text-transform: uppercase;
			color: white;
			font-size: 1.6rem;
			font-family: $base-font;

			margin-top: 0;
			margin-bottom: 3.5rem;
			line-height: 1;
		}
		h2.main {
			text-transform: uppercase;
			color: white;
			font-size: 5rem;
			font-family: $title-font;

			margin-top: 0;
			margin-bottom: 3.5rem;
			line-height: 1;
			letter-spacing: .8rem;
		}
		h2.main + p,
		hr + p {
			line-height: 1.8;
		}
		hr {
			max-width: 10rem;
		}

		&:nth-child(2) {
			background: #aeaead;
			h2.main {
				font-size:4.5rem;
			}
		}
		// 3 : Tools
		&:nth-child(4) {
			background: url(../images/asset-bg-1.jpg) no-repeat center center;
			background-size: cover;

			.center-block {
				h2, 
				p  {
					color: #7f8180;
				}
			}
		}
		&:nth-child(5) {
			background: #d2c4ba;
		}
		&:nth-child(6) {
			background: url(../images/asset-bg-2.jpg) no-repeat center center;
	    	@include overlay(rgba(0,0,0,0.3));
			background-size: cover;
		}
		&.price {
			background: #9cafae;
		}
		&:nth-child(8) {
			background: url(../images/asset-bg-3.jpg) no-repeat center center;
			background-size: cover;
	    	@include overlay(rgba(0,0,0,0.2));
	    	p {max-width: 85rem;}
		}
		
	}
	section.landing {
	    background: url(../images/asset-landing.jpg) no-repeat center center;
	    background-size: cover;
	    @include overlay(rgba(0,0,0,0.2));

	    .btn {
	    	margin-top: 6.5rem;
			min-width: 16.2rem;
			width: 16.2rem;
			letter-spacing: .15rem;
	    }
	}
	section.tools {
		height: auto;
		padding-top: 15rem;
		background:white;
		h2, p {
			color: #7f8180;
			text-align: center;
		}
		h2.main {
			font-size: 4rem;
			margin-bottom: 2.5rem;
			+ p {
				margin-bottom: 10rem;
			}
		}

		#tools-menu {
			position: relative;
			width: 100%;
		    margin: 0;
		    border-bottom: 1px solid #cccccc;
		    overflow-y: hidden;
		    padding-top: 5rem;
		    height: 10rem;
		    li {
		    	cursor: pointer;
		    }
		}

		.arrows {
			@include size(6.8rem 3rem);
			display: flex;
			margin-bottom: 7rem;

			position: absolute;
			z-index: 999;
			left:12.5rem; top: 18rem;

			a {
				display: block; 
				width: 50%;

				&.left {
					background:url('../images/asset-icon-caret-left.png') no-repeat left center;
					background-size: 1.35rem 2.25rem;
				}
				&.right {
					background:url('../images/asset-icon-caret-right.png') no-repeat right center;
					background-size: 1.35rem 2.25rem;
				}

			}
		}
		#tools-slider {
			position: relative;

			.slide {
				@include size(100vw 65.5rem);
				padding-top: 10rem;
				padding-bottom: 10rem;
				display: flex;
				overflow-x:hidden;
				overflow-y:visible;
				> div {
					height: 100%;
					width: 50%;
					flex-grow:1;
				}

				div.left {
					padding: 0 12.5rem;

					.center-block {
						@include center(vertical);
						padding-top: 10rem;
					}
					h4 {
						color: #587883;
						font-size: 1.8rem;
						font-family: $base-font;
						letter-spacing: .3rem;
						margin-bottom: 4.5rem;
						text-align: left;
					}
					p {
						font-family: $book;
						font-size: 3rem;
						color: #8a8a8a;
						text-align: left;
					}

					
				}
				.right img {
					box-shadow: 0.75rem 0.75rem 5rem .3rem rgba(0,0,0,0.2);
					@include center(vertical);
					position: relative;
					// @include levitable(4, 5);
					// &:hover {
					// 	@include transform(translateY(-50%));
					// 	margin-top: -3px;
					// }
					// @include BoxShadowHelper(3);
					// @include transition(box-shadow 0.5s $ease-in-out-sine);
					// &:hover {
					// 	box-shadow: 0.95rem 0.95rem 6rem .4rem rgba(0,0,0,0.17);
					// }
				}

				// For animation : 
				p, h4, img {
					opacity: 0;
				}
			}
		}
	}
	section.price {
		.pricebox {
			width: 100vw;
			max-width: 100% !important;
			height: calc(100vh - 7.5rem);
			position: absolute;
			left: 0;right: 0;top: 0;bottom: 0;
			margin: auto;
			z-index: -1;
		}
		.tilt, .tilt > div {
			@include transition(all 0.75s $ease-out-sine);
		}
		.tilt > div {
			background-size: 25%;
		}
		p {
			font-size: 2.5rem;
			line-height: 1;
			margin-top: 0;
			margin-bottom: 3rem;

			&.big {
				font-family: 'FuturaStdMedium', sans-serif;
				font-size: 7.5rem;
			}
		}
		.btn {
		}
	}
}

footer {
	width: 100%;
	position: fixed;
	z-index: 1;
	bottom: 0;

	.logo-block {
		padding-top: 20rem;
		h4 {
			text-align: center;
			color: #7f8180;
			font-size: 3rem;
			margin: 0 auto 17rem;
			letter-spacing: .65rem;
		}
	}
	p.newsletter {
		margin: 0 auto 7.5rem;
		text-align: center;
		min-width: 67rem;
		a {
			@include underlined(transparent, #a6a6a6);
		}
		a, input {
			text-transform: uppercase;
			color: #a6a6a6;
			font-size: 2rem;
			line-height: 2rem;
			letter-spacing: .2rem;
		}
		input {
			font-family: $heavy;
		}
	}

	section.links {
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;

		display: flex;
		> div {
			width: 50%;
			padding: 8rem 0;
		}
		.social {
			border-right: 1px solid #ccc;

			ul {
				padding: 0;margin: 0 auto;
				list-style-type: none;
				width: 25rem;
					
				display: flex;
				justify-content: space-between;


				li {
					line-height: 2.5rem;
					@include size(2.5rem);

					@include transition(transform 0.25s $ease-out-quad);
					&:hover {
						@include transform(translateY(-3px));
						@include transition(transform 0.25s $ease-in-quad);
					}

					a {
						text-indent: -9999px; 
						@include size(100%);
						display: block;


						&.facebook {
							background:url('../images/asset-icon-facebook.png') no-repeat center center;
							background-size: 1rem 2rem;
						}

						&.twitter {
							background:url('../images/asset-icon-twitter.png') no-repeat center center;
							background-size: 2.5rem 2rem;
						}

						&.pinterest {
							background:url('../images/asset-icon-pinterest.png') no-repeat center center;
							background-size: 1.5rem 2rem;
						}

						&.instagram {
							background:url('../images/asset-icon-instagram.png') no-repeat center center;
							background-size: 2.1rem 2rem;
						}
					}
				}
			}
		}
		.email {
			a {
				@include size(100%);
				line-height: 2.2rem;
				position: relative;

				width: 24.5rem;
				display: block;
				margin: 0 auto;
				padding-left: 5rem;
				
				font-family: $book;
				text-align: center;
				font-size: 2rem;
				color: #959595;
				@include underlined(transparent, #959595);
				
				.icon {
					@include size(2rem 1.75rem);
					display: block;
					position: absolute;
					left: 0;
					background:url('../images/asset-icon-email.png') no-repeat left center;
					background-size: 2rem 1.75rem;
				}
			}
		}
	}

	nav.footer-links {
		p, a {
			font-family: $book;
			font-size: 1.3rem;
			color: #959595;
			text-decoration: none;
			margin: 0;
		}
		a {
			@include underlined(transparent, #959595);
		}

		width: 56rem;
		margin: 5rem auto;
		display: flex;
		justify-content: space-between;
	}
}