body {
	$base-font: $book;

	@include size(100%);
	max-width: 100vw;
	&.locked {
		@include size(100%);
		position: fixed;
		overflow: hidden;
	}
	.btn.small {
		margin-top: 4.5rem;
		min-width: 17.2rem;
		width: 17.2rem;
	}
	.outer-title {
		display: block; 
		position: relative;
		overflow: hidden;
		span {
			display: block;
			@include transform(translateY(100%));
		}
	}
}
#scrolltop {
	@include size(5rem);
	background:white;
	display: block;
	cursor: pointer;

	position: fixed;
	z-index: 999;
	right: 5rem;
	bottom: 5rem;
	@include levitable(1, 2);
	.icon {
		position: absolute;
		@include size(100%);
		background:url('../images/asset-icon-scrolltop.png') no-repeat center center;
		background-size: 1.2rem 0.75rem;
	}
}
header#landing-header {
	height: 6.5rem;
	background: white;
	position: absolute;
	z-index: 999;
	top: 0; left: 0;right: 0;
	width: 100%;

	@include media($mobile) {
		overflow: visible;
		border-bottom: 1px solid #959595;

		&:after {
			content: " ";
			@include size(6.5rem);
			border-left: 1px solid #cccdcd;
			position: absolute;
			right: 0;
			background:url('../images/asset-icon-menu.png') no-repeat center center;
			background-size: 1.5rem;
		}

		&.open {
			&:after {
				background:url('../images/asset-icon-menu-close.png') no-repeat center center;
				background-size: 1.5rem;
			}
			nav {
				height: auto;
			}
		}
	}

	h1.logo {
		@include center(horizontal);
		margin-bottom: 0;
		@extend .grey;
		height: 6.5rem;
    	background-position-y:center;
	}

	nav {
		$grey: #959595;
		position: absolute;
		right: 0; top: 0;

		@include media($mobile) {
			width: 100vw;
			top: 6.5rem;
			background:white;
			
			height: 0;
			overflow: hidden;
		}

		ul {
			padding: 0;margin: 0;
			display: flex;
			list-style: none;

			@include media($mobile) {
				width: 100vw;
				flex-flow: column;
			}

			li {
				width: 13rem;
				border-left: 1px solid darken(white, 10%);

				text-align: center;
				height: 6.5rem;
				line-height: 6.5rem;

				@include media($mobile) {
					width: 100%;
					&:last-child {
						display: none;
					}
				}

				a {
					@include size(100%);
					display: block;

					font-size: $book;
					text-decoration: none;
					color: $grey;
					letter-spacing: .1rem;
					line-height: 6.5rem;
					font-size: 1.5rem;
					
					@include transition(background 0.25s $ease-in-out-sine);
					&:hover {
						background: darken(white, 1%);
					}
				}
			}
		}
	}
}

#outer-wrap {
	@include size(100%);
	max-width: 100vw;
	overflow: hidden;
	position: relative;
	z-index: 99;

	// for fixed footer: 
    margin-bottom: 82.1rem;

	section {
		@extend .landing-page;
		height: calc(100vh - 6.5rem);

		h2.sub {
			text-transform: uppercase;
			color: white;
			font-size: 1.6rem;
			font-family: $base-font;

			margin-top: 0;
			margin-bottom: 3.5rem;
			line-height: 1;

			@include media($mobile) {
				font-size: 16px;
			}
		}
		h2.main {
			text-transform: uppercase;
			color: white;
			font-size: 5rem;
			font-family: $title-font;

			margin-top: 0;
			margin-bottom: 0;
			line-height: 1;
			letter-spacing: .8rem;
			&:last-of-type {
				margin-bottom: 3.5rem;
			}

			@include media($mobile) {
				font-size: 25px;
				letter-spacing: .15rem;
				max-width: 295px;
				margin: 0 auto;
			}
		}
		h2.main + p,
		hr + p {
			line-height: 1.8;
			@include media($mobile) {
				font-size: 20px;
				max-width: 85%;
				margin: 0 auto;
			    line-height: 1.5;

			}
		}
		hr {
			max-width: 10rem;
		}

		@include media($mobile) {
			.center-block p {
				max-width: 300px;
				&:last-child {
					margin-bottom: 0;
				}
			}
		}
			

		&:nth-child(2) {
			background: #aeaead;
			h2.main {
				@include media($desktop) {
					font-size:4.5rem;
				}
				@include media($mobile) {
					max-width: 305px;
				}
			}
			p {
				@include media($mobile) {
					max-width: 245px !important;
				}
			}
		}
		// 3 : Tools
		&:nth-child(4) {
			background: url(../images/asset-bg-1.jpg) no-repeat center center;
			background-size: cover;
			@include media($mobile) {
				background: url(../images/asset-bg-1-mobile.jpg) no-repeat center center;
			}
			.center-block {
				h2, 
				p  {
					color: #7f8180;
				}
				p {
					@include media($mobile) {
						max-width: 300px;
					}
				}
			}
		}
		&:nth-child(5) {
			background: #d2c4ba;
		}
		&:nth-child(6) {
			background: url(../images/asset-bg-2.jpg) no-repeat center center;
	    	@include overlay(rgba(0,0,0,0.3));
			background-size: cover;
		}
		&.price {
			background: #9cafae;
			@include media($isMobile) {
				background: #9cafae url(../images/asset-bg-pricebox-mobile.png) no-repeat center center;
    			background-size: 50%;
    			p {
				    font-size: 1.8rem !important;
    				line-height: 1.7 !important;
    				&.big {
    					font-size: 6.5rem !important;
    				}
    			}
				.tilt {
					display: none;
				}
			}
		}
		&:nth-child(8) {
			background: url(../images/asset-bg-3.jpg) no-repeat center center;
			background-size: cover;
	    	@include overlay(rgba(0,0,0,0.12));
	    	p {max-width: 85rem;}
		}
		
	}
	section.landing {
		height: 100vh;
	    background: url(../images/asset-landing.jpg) no-repeat center center;
	    background-size: cover;
	    @include overlay(rgba(0,0,0,0.16));
		&.light {
		    @include overlay(rgba(0,0,0,0.0));
		}
		&:before {
	    	@include transition(all 3s $ease-in-out-sine);
		}
		h2.main + p {
			max-width: 235px;
		}
	    .btn {
	    	margin-top: 6.5rem;
			min-width: 16.2rem;
			width: 20rem;
			letter-spacing: .1rem;
	    }
	    p.scrolldown {
	    	position: absolute;
	    	bottom: 5rem;
	    	width: 100%;
	    	max-width: 100%;

	    	text-align: center;
	    	color: white;
	    	text-transform: uppercase;
	    	letter-spacing: .25rem;

			&:before {
	    		content: " ";
	    		@include size(.1rem 5rem);
	    		background:white;

	    		bottom: 0;
	    		@include center(horizontal);
	    		position: fixed;
	    		z-index: 9999;
	    		@include media(max-width 1350px) {
	    			width: .2rem;
	    		}
	    	}
	    }
	}
	// section.landing + section {

	//     	&:before {
	//     		content: " ";
	//     		@include size(.1rem 7rem);
	//     		background:white;

	//     		top: -5rem;
	//     		@include center(horizontal);
	//     		position: absolute;
	//     		z-index: 9999;
	//     	}
	// }
	section.tools {
		height: auto;
		padding-top: 15rem;
		background:white;
		h2, p {
			color: #7f8180;
			text-align: center;
		}
		h2.main {
			margin-bottom: 2.5rem;
			padding: 0 3rem;
			@include media($desktop) {
				padding: 0;
				font-size: 4rem;
			}

			+ p {
				margin-bottom: 10rem;
				@include media($mobile) {
					max-width: 90% !important;
					font-size: 18px;
				}
			}
		}
	}
	section.price {
		.pricebox {
			width: 100vw;
			max-width: 100% !important;
			height: calc(100vh - 7.5rem);
			position: absolute;
			left: 0;right: 0;top: 0;bottom: 0;
			margin: auto;
			z-index: -1;
		}
		.tilt, .tilt > div {
			@include transition(all 0.75s $ease-out-sine);
		}
		.tilt > div {
			background-size: 25%;
		}
		p {
			font-size: 2.5rem;
			line-height: 1;
			margin-top: 0;
			margin-bottom: 3rem;

			&.big {
				font-family: 'FuturaStdMedium', sans-serif;
				font-size: 7.5rem;
			}
		}
		.btn {
		}
	}
}

footer {
	width: 100%;
	position: fixed;
	z-index: 1;
	bottom: 0;

	.logo-block {
		padding-top: 20rem;
		h4 {
			text-align: center;
			color: #7f8180;
			font-size: 3rem;
			margin: 0 auto 17rem;
			letter-spacing: .65rem;
		}
		@include media($mobile) {
			padding-top: 0;
			h4 {
				margin: 11rem 0;
				letter-spacing: .45rem;
				font-size: 2.4rem;
			}
		}
	}
	.newsletter {
		> div {width: 100%;}
		margin: 0 auto 7.5rem;
		text-align: center;
		min-width: 67rem;

		@include media($mobile) {
			display: none;
		}

		form {
			display: flex;
			flex-flow: row nowrap;
			justify-content: center;

			margin: 0 auto;
			max-width: 69rem;
		}
		#ck_success_msg p {
			color: #a6a6a6;
			font-size: 2rem;
			line-height: 2rem;
			letter-spacing: .2rem;
		}
		.ck_email_field_group {
			min-width: 23rem;
		}
		.ck_subscribe_button {
			 min-width: 27.5rem;
		}
		input.ck_email_address {
		    width: 100%;
    		
    		&::-webkit-input-placeholder {
			   text-align: right;
			   text-transform: uppercase;
			}

			&:-moz-placeholder {
			   text-align: right;
			   text-transform: uppercase;
			}

			&::-moz-placeholder {
			   text-align: right;
			   text-transform: uppercase;
			}

			&:-ms-input-placeholder {  
			   text-align: right;
			   text-transform: uppercase;
			}
		}
		a, input, label {
			color: #a6a6a6;
			font-size: 2rem;
			line-height: 2rem;
			letter-spacing: .2rem;
		}
		button {
			font-family: $heavy;
		    margin-top: -0.2rem;
		    border: none;
		    padding: 0;

			text-transform: uppercase;
			color: #a6a6a6;
			font-size: 2rem;
			line-height: 2rem;
			letter-spacing: .2rem;
			@include underlined(transparent, #a6a6a6);
		}
	}

	section.links {
		display: flex;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;

		@include media($mobile) {
			border: none;
			flex-flow: column;
		}

		@include media($medium) {
			> div {
				width: 50%;
				padding: 8rem 0;
			}
		}

		.social {
			@include media($medium) {
				border-right: 1px solid #ccc;
			}

			ul {
				padding: 0;margin: 0 auto;
				list-style-type: none;
				width: 25rem;
					
				display: flex;
				justify-content: space-between;


				li {
					line-height: 2.5rem;
					@include size(2.5rem);

					@include transition(transform 0.25s $ease-out-quad);
					&:hover {
						@include transform(translateY(-3px));
						@include transition(transform 0.25s $ease-in-quad);
					}

					a {
						text-indent: -9999px; 
						@include size(100%);
						display: block;


						&.facebook {
							background:url('../images/asset-icon-facebook.png') no-repeat center center;
							background-size: 1rem 2rem;
						}

						&.twitter {
							background:url('../images/asset-icon-twitter.png') no-repeat center center;
							background-size: 2.5rem 2rem;
						}

						&.pinterest {
							background:url('../images/asset-icon-pinterest.png') no-repeat center center;
							background-size: 1.5rem 2rem;
						}

						&.instagram {
							background:url('../images/asset-icon-instagram.png') no-repeat center center;
							background-size: 2.1rem 2rem;
						}
					}
				}
			}
		}
		.email {
			a {
				@include size(100%);
				line-height: 2.2rem;
				position: relative;

				width: 24.5rem;
				display: block;
				margin: 0 auto;
				padding-left: 5rem;
				
				font-family: $book;
				text-align: center;
				font-size: 2rem;
				color: #959595;
				@include underlined(transparent, #959595);
				
				.icon {
					@include size(2rem 1.75rem);
					display: block;
					position: absolute;
					left: 0;
					background:url('../images/asset-icon-email.png') no-repeat left center;
					background-size: 2rem 1.75rem;
				}

				@include media($mobile) {
					padding-left: 0;
					border: 1px solid #d2d2d2;
					line-height: 7.8rem;
					height: 7.8rem;
					font-size: 1.6rem;
					margin: 5rem auto;

					.icon {
						display: none;
					}
				}
			}

		}
	}

	> p:last-child {
		text-align: center;
		font-family: $book;
		font-size: 1.3rem;
		color: #959595;
		text-decoration: none;
		margin: 5rem auto;
		@include media($mobile) {
			margin-bottom: 10rem;
		}
	}
}