body {
	$base-font: $book;
	&.locked {
		@include size(100%);
		position: fixed;
		overflow: hidden;
	}
	.btn.small {
		margin-top: 4.5rem;
		min-width: 17.2rem;
		width: 17.2rem;
	}
}
#scrolltop {
	@include size(5rem);
	background:white;
	display: block;
	cursor: pointer;

	position: fixed;
	z-index: 999;
	right: 5rem;
	bottom: 5rem;
	@include levitable(1, 2);
	.icon {
		position: absolute;
		@include size(100%);
		background:url('../images/asset-icon-scrolltop.png') no-repeat center center;
		background-size: 1.2rem 0.75rem;
	}
}
header#landing-page-header {
	height: 6.5rem;
	background: white;
	position: absolute;
	z-index: 999;
	top: 0; left: 0;right: 0;
	width: 100%;

	h1.logo {
		@include center(horizontal);
		margin-bottom: 0;
		@extend .grey;
		height: 6.5rem;
    	background-position-y:center;
	}

	nav {
		$grey: #959595;
		position: absolute;
		right: 0; top: 0;
		ul {
			padding: 0;margin: 0;
			display: flex;
			list-style: none;
			li {
				width: 13rem;
				border-left: 1px solid #ccc;

				text-align: center;
				height: 6.5rem;
				line-height: 6.5rem;

				a {
					@include size(100%);
					display: block;

					font-size: $book;
					text-decoration: none;
					color: $grey;
					letter-spacing: .1rem;
					line-height: 6.5rem;
					font-size: 1.5rem;
					
					@include transition(background 0.25s $ease-in-out-sine);
					&:hover {
						text-decoration: underline;
						background: darken(white, 2%);
					}
				}
			}
		}
	}
}

#outer-wrap {
	@include size(100%);
	position: relative;
	z-index: 99;
	padding-top: 6.5rem;

	section {
		@extend .landing-page;
		height: calc(100vh - 7.5rem);

		h2.sub {
			text-transform: uppercase;
			color: white;
			font-size: 1.6rem;
			font-family: $base-font;

			margin-top: 0;
			margin-bottom: 3.5rem;
			line-height: 1;
		}
		h2.main {
			text-transform: uppercase;
			color: white;
			font-size: 5rem;
			font-family: $title-font;

			margin-top: 0;
			margin-bottom: 3.5rem;
			line-height: 1;
			letter-spacing: .8rem;
		}
		h2.main + p,
		hr + p {
			line-height: 1.8;
		}
		hr {
			max-width: 10rem;
		}

		&:nth-child(2) {
			background: #aeaead;
			h2.main {
				font-size:4.5rem;
			}
		}
		// TO DO TOOLS
		&:nth-child(4) {
			background: url(../images/asset-bg-1.jpg) no-repeat center center;
			background-size: cover;

			.center-block {
				h2, 
				p  {
					color: #7f8180;
				}
			}
		}
		&:nth-child(5) {
			background: #d2c4ba;
		}
		&:nth-child(6) {
			background: url(../images/asset-bg-2.jpg) no-repeat center center;
	    	@include overlay(rgba(0,0,0,0.3));
			background-size: cover;
		}
		&.price {
			background: #9cafae;
		}
		&:nth-child(8) {
			background: url(../images/asset-bg-3.jpg) no-repeat center center;
			background-size: cover;
	    	@include overlay(rgba(0,0,0,0.2));
	    	p {max-width: 85rem;}
		}
		
	}
	section.landing {
	    background: url(../images/asset-landing.jpg) no-repeat center center;
	    background-size: cover;
	    @include overlay(rgba(0,0,0,0.2));

	    .btn {
	    	margin-top: 6.5rem;
			min-width: 16.2rem;
			width: 16.2rem;
			letter-spacing: .15rem;
	    }
	}
	section.tools {
		padding-top: 15rem;
		h2, p {
			color: #7f8180;
			text-align: center;
		}
		h2.main {
			font-size: 4rem;
			margin-bottom: 2.5rem;
			+ p {
				margin-bottom: 10rem;
			}
		}
	}
	section.price {
		.pricebox {
			width: 100vw;
			max-width: 100% !important;
			height: calc(100vh - 7.5rem);
			position: absolute;
			left: 0;right: 0;top: 0;bottom: 0;
			margin: auto;
			z-index: -1;
		}
		.tilt, .tilt > div {
			@include transition(all 0.75s $ease-out-sine);
		}
		.tilt > div {
			background-size: 25%;
		}
		p {
			font-size: 2.5rem;
			line-height: 1;
			margin-top: 0;
			margin-bottom: 3rem;

			&.big {
				font-family: 'FuturaStdMedium', sans-serif;
				font-size: 7.5rem;
			}
		}
		.btn {
		}
	}
}