@font-face {
    font-family: 'PlayfairDisplayRegular';
    src: url('../fonts/PlayfairDisplayRegular.eot');
    src: url('../fonts/PlayfairDisplayRegular.eot') format('embedded-opentype'),
         url('../fonts/PlayfairDisplayRegular.woff2') format('woff2'),
         url('../fonts/PlayfairDisplayRegular.woff') format('woff'),
         url('../fonts/PlayfairDisplayRegular.ttf') format('truetype'),
         url('../fonts/PlayfairDisplayRegular.svg#PlayfairDisplayRegular') format('svg');
}

@font-face {
    font-family: 'PlayfairDisplayItalic';
    src: url('../fonts/PlayfairDisplayItalic.eot');
    src: url('../fonts/PlayfairDisplayItalic.eot') format('embedded-opentype'),
         url('../fonts/PlayfairDisplayItalic.woff2') format('woff2'),
         url('../fonts/PlayfairDisplayItalic.woff') format('woff'),
         url('../fonts/PlayfairDisplayItalic.ttf') format('truetype'),
         url('../fonts/PlayfairDisplayItalic.svg#PlayfairDisplayItalic') format('svg');
}

@font-face {
    font-family: 'GothamLight';
    src: url('../fonts/GothamLight.eot');
    src: url('../fonts/GothamLight.eot') format('embedded-opentype'),
         url('../fonts/GothamLight.woff2') format('woff2'),
         url('../fonts/GothamLight.woff') format('woff'),
         url('../fonts/GothamLight.ttf') format('truetype'),
         url('../fonts/GothamLight.svg#GothamLight') format('svg');
}
@font-face {
    font-family: 'GothamBook';
    src: url('../fonts/GothamBook.eot');
    src: url('../fonts/GothamBook.eot') format('embedded-opentype'),
         url('../fonts/GothamBook.woff2') format('woff2'),
         url('../fonts/GothamBook.woff') format('woff'),
         url('../fonts/GothamBook.ttf') format('truetype'),
         url('../fonts/GothamBook.svg#GothamBook') format('svg');
}
@font-face {
    font-family: 'GothamMedium';
    src: url('../fonts/GothamMedium.eot');
    src: url('../fonts/GothamMedium.eot') format('embedded-opentype'),
         url('../fonts/GothamMedium.woff2') format('woff2'),
         url('../fonts/GothamMedium.woff') format('woff'),
         url('../fonts/GothamMedium.ttf') format('truetype'),
         url('../fonts/GothamMedium.svg#GothamMedium') format('svg');
}
