.md-dialog-container {
	md-dialog {
		@include size(72rem 27rem);
		position: relative;
		border-radius: 0;
		overflow: visible;
		@include BoxShadowHelper(3);
		form {
			width: 50%;
			height: 100%;
		}
		md-dialog-content {
			@include center(vertical);
			.md-dialog-content {padding: 0;}
			p {
				margin-top: 0;
				margin-bottom: 2.5rem;

				font-size:1.7rem;
				font-family: $title-font;
				text-transform: uppercase;
				letter-spacing: .2rem;
				text-align: center;
				color: $brand-purple;
			}
			input {
				max-width: 25rem;
				margin: 0 auto;
				float: none;

				letter-spacing: 0.05rem;
				text-align: center;
			}
		}
		md-dialog-actions {
			padding: 0;
			flex-flow:column wrap;
		}
		button {
			&:not([aria-label="Close"]){
				@extend .btn;
				min-width: 20rem;
			}
			
			&[aria-label="Close"], 
			&.close-btn {
				position: absolute;
				top: -2rem;
				right: -2rem;

				@include size(4rem);
				min-width: 4rem;
				padding: 0;margin: 0;
				border-radius: 0;
				display: block;
				text-indent: -9999px;
				border: none;
				background: url('../assets/images/asset-icon-close.png') no-repeat center center; 
				background-color: $brand-main !important;
				background-size: 1.8rem;
				&:hover {
					background: url('../assets/images/asset-icon-close.png') no-repeat center center; 
					background-color: $brand-main;
					background-size: 1.8rem;
				}
			}
		}
	}
}
md-dialog#manage-categories-modal {
	min-height: 42rem;
	padding: 3.5rem 0;
	 > p.title {
		line-height: 6rem;
		font-size:1.7rem;
		font-family: $title-font;
		text-transform: uppercase;
		letter-spacing: .2rem;
		text-align: center;
		color: $brand-purple;
	}
	md-dialog-content, .md-dialog-content {
		height: 28rem;
		position: static;
		@include transform(none);
	}
	md-list-item {
		height: 3.5rem;
		line-height: 3.5rem;
		min-height: 3.5rem;
		max-height: 3.5rem;

		display: flex;

		p {
			text-align: left;
			color: $font-middle;
			font-family: $base-font;
			font-size: 1.3rem;
			text-transform: none;
			margin: 0;
		} 
		input {
			width: 100%;
			text-align: left;
			padding: 0;margin: 0;
		}
		.actions {
			margin-left: auto;
		}
	}
}


.confirm-popin {
	@include size(55.6rem 31.6rem);
	padding: 7rem 7rem 6.5rem;
	margin: 0 auto;
	text-align: center;
	h2 {
		font-size: 1.7rem;
		color: #818f97;

		margin-top: 0;
		margin-bottom: 4rem;
	}
	p {
		font-family: $book;
		margin-top: 0;
		padding: 0 3rem;
		&:last-of-type {
			margin-bottom: 3.5rem;
		}
	}
}

md-dialog#document-storage-modal {
	height: 45rem;
	form {
		max-width: 22rem;
		margin: 0 auto;
		.formly-field input {text-align: left;}
		
		.formly-field {
			overflow: auto;
		}
		textarea {
			height: 9rem !important;
			min-height: 9rem;
			max-height: 11rem;

			resize: none;
			overflow: auto !important;
			overflow-y: scroll;
		}
	}
	.light-btn {
		max-width: 13rem;
		display: block;
		margin: 5rem auto 0;

	    line-height: 3.25rem;

		@extend .no-padd;
	}
}

#admin-prompt-modal {
	height: 47rem;
	.md-dialog-content {
		@include center(vertical);
	}
	md-dialog-actions {
		display: none;
	}
	.btn {
		margin-top: 5rem;
	}
	.dialogs {
		margin: 2rem 0;
		p {
			text-transform: none;
			color: $font-dark;
			font-family: $book;
			font-size: 1.3rem;
			letter-spacing: .1rem;
		}
	}
}