/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
@include selection {
  background: #000;
  text-shadow: none;
  color: $light-bg;
}
/**
 * Base styles
 */
html {
  font-size: 62.5%;
  // Very big screen above 1920px
  @include media(min-width 1920px) {
    font-size: 83.3%;
  }
  // Big screen between 1450 and 1920px
  @include media(min-width 1450px max-width 1920px)  {
    font-size: 71.4%;
  }
  // Medium screeens between 1000px and 1350px
  @include media(min-width 1000px max-width 1350px) {
    font-size: 50%;
  }
  @include media(min-width 600px max-width 1000px) {
    font-size: 40%;
  }
  // Small screen between 480px and 1000px
  @include media(min-width 480px max-width 600px) {
    font-size: 30%;
  }
}

body {
  position: relative;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: bottom;
}
a, button, input, div {
  outline: none;
}
hr {
  margin: 6rem auto;
  height: 0;
  border: solid $border-color;
  border-width: 1px 0 0;
  clear: both;
}

#content {
  @include size(100%);
  max-width: 100vw;
  min-height: 100vh;

  position: relative;
  z-index: 9;

  padding: 5rem;
  padding-bottom: 0;
  box-sizing: border-box;

  background-color: $light-bg;
  overflow: auto;
}
.block-container {
  display: block;
  margin: 0 auto;
  overflow: visible;

  &.full {
    width: 90%;
  }
  &.mid {
    width: 60%;
  }
  &.tiny {
    width: 25%;
  }

  &.small {
    width: 36rem;
  }
}
